<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certamenes</title>

    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block css %}
    {% endblock %}
    <!---<link rel="stylesheet" href="{% static 'app/css/editor.css' %}">-->
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
    
    

    <!--MathQuill-->

    <!-- YOU NEED  mathquill.css , jquery and mathquill.js SEARCH AND PICK IT SOMEWHERE, SEARCH ON THE WEB IF THIS DOWN  NOT RUN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.js"></script>

    <!-- INFORM  THE LATEST AVERSION INTERFACE WITH THIS CODE   -->
    <script>
        var MQ = MathQuill.getInterface(2);
    </script>

    <!---------------->


    <!------Katex-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>

</head>

<body>
    <header>
        <nav class="navegacion">
            <!--Menu de lado izquierdo -->
            <ul class="menu">
                <li><a href="{% url 'home' %}">Inicio</a></li>

                {% if user.is_authenticated %}
                <li><a class="mat">Matemática</a>
                    <ul class="submenu">
                        <li><a href="{% url 'MAT021' %}">MAT021</a></li>
                        <li><a href="{% url 'proximamente' %}">MAT022</a></li>
                        <li><a href="{% url 'proximamente' %}">MAT023</a></li>
                        <li><a href="{% url 'proximamente' %}">MAT024</a></li>
                    </ul>

                </li>
                <li><a href="{% url 'crearPregunta' %}">Crear Pregunta</a></li>
                <li><a href="{% url 'foro1' %}">Foro</a></li>
                <li><a href="{% url 'banco-preguntas' %}">Banco de preguntas</a></li>
                {% endif %}

            </ul>

            <!--Menu de lado derecho-->
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                <li><a href="{% url 'mi_perfil' %}">Mi perfil</a></li>
                {% else %}
                <li><a href="{% url 'iniciar_sesion' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'registrarse' %}">Registrarse</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>


    {% if user.is_authenticated %}
    <div id="contenido">

        {% block contenido%}
        {% endblock %}

    </div>
    {% else %}
    <div id="contenido">
        <h1>Por Favor, inicia sesión para poder acceder al contenido :)</h1>
    </div>
    {% endif %}

    {% block js %}
    {% endblock %}

    

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

<script src="{% static 'app/js/nombre.js' %}"></script>

<!---selector de preguntas--->
<script src="{% static 'app/js/selectorPreguntas.js' %}"></script>

</html>