{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'app/css/editor.css' %}">

<div class="titulo">
    <h1>Página para Crear Preguntas</h1>
</div>

<div class="elContenedor">
    <div class="generalCreadorDePreguntas">
        <div class="flex-container">

            <div class="texto-preguntas">
                <form method='post' action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button hidden type="button" class="btn btn-warning" id="ver-pregunta">Previzualizar
                        pregunta</button>
                    <button type="submit" class="btn btn-success"> Publicar </button>
                </form>

                <p hidden id="previzualizacion-pregunta"></p>
            </div>


            <div class="editor">
                <h2>Creador de Fórmulas</h2>

                <div class="cont" ng-app="myApp" ng-controller="customersCtrl">
                    <div style="margin-left: 20px;">
                        <button id="btn1" type="button" class="collapseBtn" data-toggle="collapse" data-target="#demo"
                            id="btn1"><i class="fas fa-square-root-alt"></i></button>
                        <button style="font-size: 25px; padding-top: 5px; padding-bottom: 10px;" type="button"
                            class="collapseBtn" data-toggle="collapse" data-target="#demo1" id="btn2">∫</button>

                        <button style="font-size: 25px; padding-top: 5px; padding-bottom: 10px;" type="button"
                            class="collapseBtn" data-toggle="collapse" data-target="#demo2" id="btn3">∡</button>

                        <button style="font-size: 25px; padding-top: 5px; padding-bottom: 10px;" type="button"
                            class="collapseBtn" data-toggle="collapse" data-target="#demo3" id="btn4">ω</button>
                    </div>

                    <div id="demo" class="collapse">
                        <section>
                            <span>Matemática Básica</span>

                            <table class="tabla-btn">

                                <tr style="display: flex; flex-flow: row wrap; ">

                                    <td type="button" id="fraccion"> \frac{☐}{☐} </td>

                                    <td type="button" id="xAlCuadrado"> ☐^{2} </td>

                                    <td type="button" id="elevar"> ☐^☐ </td>

                                    <td type="button" id="raizCuadrada"> \sqrt{☐}</td>

                                    <td type="button" id="raizN"> $$\sqrt[☐]{☐}$$ </td>

                                    <td type="button" id="inf"> \infty </td>

                                    <td type="button" id="negativoinf">$$ - \infty $$</td>

                                    <td type="button" id="pi"> \pi </td>

                                    <td type="button" id="e"> e </td>

                                    <td type="button" id="e_exp"> e^☐ </td>

                                    <td type="button" id="logaritmo_natural"> \ln (☐) </td>

                                    <td type="button" id="logaritmo"> \log_{☐}(☐) </td>

                                    <td type="button" id="logaritmo_base10"> \log_{10} (☐) </td>

                                    <td type="button" id="valor_absoluto"> | ☐ | </td>

                                    <td type="button" id="menor_igual">☐ \leq ☐</td>

                                    <td type="button" id="mayor_igual">☐ \geq ☐</td>

                                    <td type="button" id="desigual">☐ \neq ☐</td>

                                </tr>

                            </table>
                        </section>
                    </div>

                    <div id="demo1" class="collapse">
                        <section>

                            <span>Cálculo y Sumatoria</span>

                            <table class="tabla-btn">

                                <tr style="display: flex; flex-flow: row wrap; ">

                                    <td type="button" id="derivada"> \frac{d}{d\ ☐}</td>

                                    <td type="button" id="n_derivada"> \frac{d\ ^☐}{d\ ☐^☐}</td>

                                    <td type="button" id="derivada_parcial"> \frac{\partial}{\partial\ ☐}</td>

                                    <td type="button" id="derivada_parcial_n"> \frac{\partial\ ^☐}{\partial\ ☐^☐}</td>

                                    <td type="button" id="derivada_parcial_mixta">\frac{\partial^2}{\partial☐\partial☐}
                                    </td>

                                    <td type="button" id="int">\[ \int \]</td>

                                    <td type="button" id="sumatoria"> \sum_{☐}^{☐} </td>

                                    <td type="button" id="productoria"> \prod_{☐}^{☐} </td>

                                    <td type="button" id="limite_1"> \lim_{☐\to☐} </td>

                                    <td type="button" id="limite_2"> \lim_{ ☐ \to ☐\^{-}} </td>

                                    <td type="button" id="limite_3"> \lim_{ ☐ \to ☐ \^{+}} </td>

                                    <td type="button" id="integral_definida"> \int_{☐}^{☐} </td>



                                </tr>


                            </table>
                        </section>

                    </div>

                    <div id="demo2" class="collapse">
                        <section>

                            <span>Trigonometría</span>

                            <table class="tabla-btn">

                                <tr style="display: flex; flex-flow: row wrap; ">

                                    <td type="button" id="pi_2"> \pi </td>

                                    <td type="button" id="grados"> \^{\circ} </td>

                                    <td type="button" id="rad"> rad </td>

                                    <td type="button" id="sen"> sen </td>

                                    <td type="button" id="cos"> cos </td>

                                    <td type="button" id="tan"> tan </td>

                                    <td type="button" id="cot"> cot </td>

                                    <td type="button" id="sec"> sec </td>

                                    <td type="button" id="csc"> csc </td>

                                    <td type="button" id="arcsen"> arcsen </td>

                                    <td type="button" id="arccos"> arc\ cos </td>

                                    <td type="button" id="arctan"> arctan </td>

                                    <td type="button" id="arccot"> arc\ cot </td>

                                    <td type="button" id="arcsec"> arcsec </td>

                                    <td type="button" id="arccsc"> arc\ csc </td>

                                    <td type="button" id="senh"> senh </td>

                                    <td type="button" id="cosh"> cosh </td>

                                    <td type="button" id="tanh"> tanh </td>

                                    <td type="button" id="coth"> coth </td>

                                    <td type="button" id="sech"> sech </td>

                                    <td type="button" id="csch"> csch </td>

                                </tr>
                            </table>
                        </section>

                    </div>

                    <div id="demo3" class="collapse">
                        <section>

                            <span>Símbolos</span>

                            <table class="tabla-btn">

                                <tr style="display: flex; flex-flow: row wrap; ">

                                    <td type="button" id="paratodo"> \forall </td>

                                    <td type="button" id="existe_1"> \exists </td>

                                    <td type="button" id="existe_2"> \exists! </td>

                                    <td type="button" id="existe_3"> \nexists </td>

                                    <td type="button" id="union"> \cup </td>

                                    <td type="button" id="interseccion"> \cap </td>

                                    <td type="button" id="contenido_a"> \subset </td>

                                    <td type="button" id="contenido_1"> \subseteq </td>

                                    <td type="button" id="en"> \in </td>

                                    <td type="button" id="no_en"> \notin </td>

                                    <td type="button" id="vacio"> \emptyset </td>

                                    <td type="button" id="neg"> \neg </td>

                                    <td type="button" id="o"> \lor </td>

                                    <td type="button" id="y"> \land </td>

                                    <td type="button" id="implica"> \longrightarrow </td>

                                    <td type="button" id="ssi"> \iff </td>

                                    <td type="button" id="alpha"> \alpha </td>

                                    <td type="button" id="beta"> \beta </td>

                                    <td type="button" id="gamma"> \gamma </td>

                                    <td type="button" id="delta"> \delta </td>

                                    <td type="button" id="epsilon"> \epsilon </td>

                                    <td type="button" id="theta"> \theta </td>

                                </tr>
                            </table>
                        </section>

                    </div>
                </div>

                <div>

                    <!--campo para escribir el problema-->
                    Diseñe las formulas para su preguntar aquí:
                    <p><span class="form-control" rows="3" id="answer"> </span></p>

                    <!--esto está oculto, importante para el funcionamiento de diseñar preguntas-->
                    <p hidden>
                        <div hidden class="diseño-problema"><span hidden class="display" id="problem"> </span></div>
                    </p>
                    <button id="boton-escribir" class="btn btn-success">Agregar</button>
                </div>

            </div>

        </div>
    </div>

    <!--javascript editor mathquill -->
    <script src="{% static 'app/js/editorMathQuill.js' %}"></script>
    
    <script>
    </script>
    {% endblock %}