{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<div class="titulo">
    <h1>Página para Crear Preguntas</h1>
</div>

<div class="elContenedor">
    <div class="generalCreadorDePreguntas">
        <div class="flex-container">

            <div class="texto-preguntas">
                <form method='post' action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button hidden type="button" class="btn btn-warning" id="ver-pregunta">Previzualizar
                        pregunta</button>
                    <button type="submit" class="btn btn-success"> Publicar </button>
                </form>

                <p hidden id="previzualizacion-pregunta"></p>
            </div>


            <div class="editor">
                <h2>Editor de fórmulas</h2>

                <div class="cont" ng-app="myApp" ng-controller="customersCtrl">
                    <div style="margin-left: 20px;">
                        <button id="btn1" type="button" class="collapseBtn" data-toggle="collapse" data-target="#demo"
                            id="btn1"><i class="fas fa-square-root-alt"></i></button>
                        <button style="font-size: 25px; padding-top: 5px; padding-bottom: 10px;" type="button"
                            class="collapseBtn" data-toggle="collapse" data-target="#demo1" id="btn2">∫</button>
                    </div>

                    <div id="demo" class="collapse">
                        <section>
                            <span>Basic Math</span>

                            <table class="tabla-btn">

                                <tr style="display: flex; flex-flow: row wrap; ">

                                    <td type="button" id="raizCuadrada"> \sqrt{☐}</td>

                                    <td type="button" id="xAlCuadrado"> ☐^{2} </td>

                                    <td type="button" id="elevar"> ☐^☐ </td>

                                    <td type="button" id="raizN"> $$\sqrt[☐]{☐}$$ </td>

                                    <td type="button" id="fraccion"> \frac{☐}{☐} </td>

                                    <td type="button" id="logaritmo"> \log_{☐}(☐) </td>

                                    <td type="button" id="limite"> \lim </td>

                                    <td type="button" id="pi"> \pi </td>

                                    <td type="button" id="theta"> \theta </td>

                                    <td type="button" id="inf"> \infty </td>
                                    <td type="button" id="integral"> \int_{☐}^{☐} </td>
                                    <td type="button" id="derivada"> \frac{d}{dx}\left(☐\right) </td>

                                </tr>

                            </table>
                        </section>
                    </div>

                    <div id="demo1" class="collapse">
                        <section>
                            <span>Aquí no hay nada</span>
                        </section>

                    </div>
                </div>

                <div>

                    <!--campo para escribir el problema-->
                    Diseñe el problema a preguntar aquí
                    <p><span class="form-control" rows="3" id="answer"> </span></p>

                    <!--esto está oculto, importante para el funcionamiento de diseñar preguntas-->
                    <p hidden>
                        <div hidden class="diseño-problema"><span hidden class="display" id="problem"> </span></div>
                    </p>
                    <button id="boton-escribir" class="btn btn-success">Agregar</button>
                </div>

            </div>

        </div>
    </div>
    <!--javascript editor mathquill-->
    <script src="{% static 'app/js/editorMathQuill.js' %}"></script>
    {% endblock %}