{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<div class="titulo"><h1>Página para Crear Preguntas</h1></div>

<div class="elContenedor">
<div class="generalCreadorDePreguntas">

    <div class="flex-container">
        <div class="texto-preguntas">
        <form action="/guardarPregunta/" method="post">
          {% csrf_token %}
          <h1>Hacer pregunta</h1>
  
           <div>
               <p>Asunto</p>
             <input class="form-control" type="text" id="nombre_pregunta" name="nombre_pregunta">
           </div>
           
           <div>
              <p>Detalles</p>
              <textarea class="form-control" type="text" id="texto" name="texto" rows="3"></textarea>
           </div>
  
           <div>
              <!--desde este input se lleva el texto en formato latex a la base de datos, está oculto por propiedad hidden-->
              <div hidden><input type="text" id="pregunta_math" name="pregunta_math"></div>
              
              <!--aqui se muestra el problema escrito-->
              <p>Problema escrito (tienes que crearlo en el editor):  <br> <div class="diseño-problema"><span class="display" id="problem"> </span></div></p>
              
           </div>
           
  
           <div>
             <button type="submit" class="btn btn-success">Hacer pregunta</button>
           </div>
  
        </form>
        </div>

        <div class="editor">
            
          <div id="botones"><h1>Editor MathQuill</h1>
              <button type="text" id="raizCuadrada" class="btn btn-danger"> \sqrt{☐} </button>
              <button id="xAlCuadrado" class="btn btn-danger"> ☐^{2} </button>
              <button id="elevar" class="btn btn-danger"> ☐^☐ </button>
              <button id="raizN" class="btn btn-danger"> \sqrt[☐]{☐} </button>
              <button id="fraccion" class="btn btn-danger"> \frac{☐}{☐} </button>
              <button id="logaritmo" class="btn btn-danger"> \log_{☐}(☐) </button>
              <button id="limite" class="btn btn-danger"> \lim </button>
        
              <button id="boton-escribir" class="btn btn-success">Previsualizar</button></div>
        
              <!--campo para escribir el problema-->
              Diseñe el problema a preguntar aquí
              <p><span class="form-control" rows="3" id="answer"> </span></p>
              
        </div>
  
  
  
  
  </div>

       <h1>Preguntas recientes</h1>

        <div class="pregunta_Prueba">
       {% for p in pregunta_Prueba %}

          <div class="pregunta">
            <h3>{{p.nombre_pregunta}}</h3>
            <p>{{p.texto}}</p>
            <span class= "p_math">{{p.pregunta_math}}</span>

          </div>

       {% endfor%}
        
       <!--script para que cada elemento tipo matematico creado por el for de preguntas tenga estilo matquill -->
       <script>
                var elementoMatematico = document.getElementsByClassName('p_math');
                for (const elemento of elementoMatematico)
                MQ.StaticMath(elemento);
        </script>
        <!------------->

      </div>

</div>

</div>
{% endblock %}