{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<div class="titulo">
    <h1>Generar Certamen de Matemática MAT021</h1>
    <p>Ingrese las especificaciones para generar el certamen</p>
</div>

<div>
        
        
                
        
</div>


<div class="elContenedor">
        {% for message in messages  %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                  {{message}}
                </div>
              </div>
        {% endfor %}

    <form action="/certame/?id={{id_certamen}}" method="post" onsubmit="return validacion()" id="formulario">
        {% csrf_token %}

        <div class="flex-container">
            <!--contenedor de 2 div (lado derecho e izquierdo)-->

            <div>
                <!--div lado izquierdo-->
                <div>
                    <h3>Materias de cálculo</h3>

                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox1"
                            name="numeros_reales"> <label class="form-check-label" for="cBox1">Números reales</label>
                    </div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox2"
                            name="funciones"> <label class="form-check-label" for="cBox2">Funciones</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox3"
                            name="limite"> <label class="form-check-label" for="cBox3">Límites</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox4"
                            name="continuidad"> <label class="form-check-label" for="cBox4">Continuidad</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox5"
                            name="calculo_diferencial"> <label class="form-check-label" for="cBox5">Cálculo
                            diferencial</label></div>

                </div>
                <div>
                    <h3>Materias de complemento</h3>

                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox6"
                            name="logica_proposicional"> <label class="form-check-label" for="cBox6">Lógica
                            proposicional</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox7"
                            name="conjunto"> <label class="form-check-label" for="cBox7">Conjuntos</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox8"
                            name="relaciones"> <label class="form-check-label" for="cBox8">Relaciones</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox9"
                            name="trigonometria"> <label class="form-check-label" for="cBox9">Trigonometría</label>
                    </div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox10"
                            name="exponencial_logaritmo"> <label class="form-check-label" for="cBox10">Exponencial y
                            logaritmo</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox11"
                            name="geometria_analitica"> <label class="form-check-label" for="cBox11">Geometría
                            analítica</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox12"
                            name="induccion"> <label class="form-check-label" for="cBox12">Inducción</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox13"
                            name="sumatoria_productoria"> <label class="form-check-label"
                            for="cBox13">Sumatoria y Productoria</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox14"
                            name="numeros_complejos"> <label class="form-check-label" for="cBox14">Números
                            complejos</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="cBox15"
                            name="polinomios"> <label class="form-check-label" for="cBox15">Polinomios</label></div>
                </div>
            </div>

            <div>
                <!--Div de lado derecho-->
                <div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="cboxTime" value=""
                            onchange="showtime()"><label class="form-check-label" for="cboxTime">Deseas tener tiempo
                            para realizar el Certamen ? </label></div>


                    <div class="md-form mx-3 my-3 " id="time" style="display: none;">
                        <label for="timeSelec">Selecciona tu tiempo:</label>
                        <input class="form-control w-25 " type="time" id="timeSelec" min="00:01" value="" name="tiempo">
                    </div>

                    <div class="md-form mx-3 my-3">
                        <label for="num-preguntas">Ingrese el número de preguntas que quiere en el certamen:</label>
                        <input class="form-control" type="number" style="width: 80px; margin-top: 10px; margin-bottom: 30px;" max="20" min="1" value="1"
                            name='number_of_questions' id="num_preg">

                    </div>
                    <div class="md-form mx-3 my-3">
                        <label>Seleccione la dificultad del certamen:</label> <br>
                        <select style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-outline-danger dropdown-toggle" name="dificultad">
                                <option value="MIXTO">Mixto</option>
                                <option value="FACIL">Facil</option>
                                <option value="MEDIA">Media</option>
                                <option value="DIFICIL">Dificil</option>
                        </select>
                    </div>

                    <!--boton-<input class="form-control w-25" type="number" name='number_of_questions' placeholder="N° preguntas" >------>
                    <div class="form-form mx-3 my-5 "><button type="submit" class="btn btn-success ">Generar Certamen</button></div>
                
                
                     <div style="margin-top: 100px;">

                        <a  href="{% url 'contenidoMAT021' %}" class="btn">

                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                                        <i class="fas fa-info-circle fa-2x"></i> &nbsp;&nbsp; Consulta los contenidos de las materias aquí
                                </div>
                        </a>

                     </div>
                             
                     </div>

                </div>
            </div>
        </div>
    </form>
    <script src="{% static 'app/js/MAT021.js' %}"></script>
</div>
{% endblock %}
