{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<div class="titulo">
    <h2>Ha resuelto un total de {{n_certamenes}} certamenes</h2>
    <h4>Acumulando un total de {{puntos}} puntos</h4>
</div>

<div class="elContenedor">
    <table class="table table-striped table-bordered">
        <tr class="table-primary">
            <th>Codigo</th>
            <th>Estado</th>
            <th>Puntos obtenidos</th>
            <th>Numero de preguntas</th>
            <th>Preguntas correctas</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
        {% for certamen in certamenes %}
        <tr>
            <th><a href="/certamen/?id={{certamen.id_certamen}}">{{certamen.id_certamen}}</a></th>
            {% if certamen.estado %}
            <th class="table-success">Terminado</th>
            {% else %}
            <th class="table-danger">Sin Terminar</th>
            {% endif %}
            <th>{{certamen.puntos}}</th>
            <th>{{certamen.n_preguntas}}</th>
            <th>{{certamen.n_correctas}}</th>
            <th>{{certamen.fecha}}</th>
            <th>{{certamen.hora.hour}}:{{certamen.hora.minute}}</th>
        </tr>


        {% endfor %}
        </tr>
    </table>
</div>


{% endblock %}