{% extends 'app/base.html' %}
{% load static %}


{% block contenido %}

<div class="elContenedor">

    <div class="pt-3">
        <div class="alert alert-warning" style=" z-index: -1;">
            <h1>Ha resuelto correctamente {{n_preguntasCorrerctas}} de {{n_preguntas}} preguntas.</h1>
            <h1>Su porcentaje de acierto es del {{porcentaje_acierto}}%</h1>
        </div>

        <div class="alert alert-info ">
            <h4>Ha ganado un total de {{puntos}} puntos.</h4>
        </div>
        <br>
        <div>
            {% for e in preguntas_incorrectas %}
            <h5>Pregunta:</h5>
            <div class="preguntas mt-0" style="padding: 20px;">
                <p>{{e.0}}</p>
                <div class="alert alert-success" role="alert">
                    <p>La alternativa correcta es:</p>
                    <p>{{e.1}}</p>
                </div>
            </div>

            {% endfor %}
        </div>
        <button class="btn btn-danger"><a style="text-decoration: none; color: white;" href="{% url 'home' %}">Finalizar revisión</a></button>
    </div>

    <script>
        //disable back button forever
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>

</div>

{% endblock %}